<div class="addEditForm">
    <form class="form-horizontal" [formGroup]="loginForm" (submit)="loginForm.valid && saveUser()">
        <div class="form-group">
            <label class="control-label col-sm-2">Id: </label>
            
                <input type="text" class="form-control" placeholder="Id" id="id" formControlName="id" >
            <div *ngIf="loginForm.get('id').touched && loginForm.get('id').invalid" class="invalid-feedback">
                <div>Id is required</div>
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2">Name: </label>
            
                <input type="text" class="form-control" placeholder="Name" id="name" formControlName="name">
                <div *ngIf="loginForm.get('name').touched && loginForm.get('name').invalid" class="invalid-feedback">
                    <div>Name is required</div>
                </div>
        </div>
       
        <div class="form-group">
            <label class="control-label col-sm-2">Username: </label>
            
                <input type="text" class="form-control" placeholder="Username" id="username" formControlName="username">
                <div *ngIf="loginForm.get('username').touched && loginForm.get('username').invalid" class="invalid-feedback">
                    <div>Username is required</div>
                </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2">Email: </label>
            
                <input type="text" class="form-control" placeholder="Email" id="email" formControlName="email">
                <div *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid" class="invalid-feedback">
                    <div *ngIf="loginForm.get('email').errors.required">Email is required</div>
                    <div *ngIf="loginForm.get('email').errors.email">Enter valid email address</div>
                </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2">Street: </label>
            
                <input type="text" class="form-control" placeholder="Street" id="street" formControlName="street">
                <div *ngIf="loginForm.get('street').touched && loginForm.get('street').invalid" class="invalid-feedback">
                    <div>Street is required</div>
                </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2">Suite: </label>
           
                <input type="text" class="form-control" placeholder="Suite" id="suite" formControlName="suite">
            
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2">City: </label>
            
                <input type="text" class="form-control" placeholder="City" id="city" formControlName="city" [ngClass]="{'is-invalid': loginForm.get('city').touched && loginForm.get('city').invalid}">
                <div *ngIf="loginForm.get('city').touched && loginForm.get('city').invalid" class="invalid-feedback">
                    <div>City is required</div>
                </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2">Zipcode: </label>
            
                <input type="text" class="form-control" placeholder="Zipcode" id="zipcode" formControlName="zipcode" [ngClass]="{'is-invalid': loginForm.get('zipcode').touched && loginForm.get('zipcode').invalid}">
                <div *ngIf=" loginForm.get('zipcode').touched && loginForm.get('zipcode').invalid" class="invalid-feedback">
                    <div>Zipcode is required</div>
                </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2">Latitude: </label>
            
                <input type="text" class="form-control" placeholder="Latitude" id="lat" formControlName="lat">
            
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2">Longitude: </label>
            
                <input type="text" class="form-control" placeholder="Longitude" id="lng" formControlName="lng">
            
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2">Phone: </label>
            
                <input type="text" class="form-control" placeholder="Phone" id="phone" formControlName="phone" [ngClass]="{'is-invalid': loginForm.get('phone').touched && loginForm.get('phone').invalid}">
                <div *ngIf="loginForm.get('phone').touched && loginForm.get('phone').invalid" class="invalid-feedback">
                    <div>Phone number is required</div>
                </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2">Website: </label>
            
                <input type="text" class="form-control" placeholder="Website" id="website" formControlName="website">
            
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2">Company Name: </label>
            
                <input type="text" class="form-control" placeholder="Company Name" id="companyName" formControlName="companyName" [ngClass]="{'is-invalid': loginForm.get('companyName').touched && loginForm.get('companyName').invalid}">
                <div *ngIf="loginForm.get('companyName').touched && loginForm.get('companyName').invalid" class="invalid-feedback">
                    <div>Company Name is required</div>
                </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2">Catch Phrase: </label>
            
                <input type="text" class="form-control" placeholder="catchPhrase" id="catchPhrase" formControlName="catchPhrase">
            
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2">BS: </label>
            
                <input type="text" class="form-control" placeholder="BS" id="bs" formControlName="bs">
            
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                
                <button type="submit" class="submit-btn btn btn-primary" [disabled]="!loginForm.valid">Save</button>
            </div>
        </div>
      
    </form>
    </div>