.form-group {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.submit-btn {
    margin-top: 15px;
}

.form-horizontal {
    margin: auto;
    text-align: center;
}

.login {
    margin-right: 20px;
    max-width: 450px;
}